<div class="mdl-grid image-grid">
	<div class="mdl-cell mdl-cell--1-col"></div>
	<div class="mdl-cell mdl-cell--10-col bot-image shake-slow shake-constant"></div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>

<section class="section--center mdl-grid mdl-grid--no-spacing text-grid">
<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp text-box">
	<div class="mdl-card__supporting-text">
		<p>I am a computer science and civil engineering student studying in McGill University</p>
		<p>I was born in Vancouver, but grew up in different parts of the world. I have extensive global experience having lived in Panama, Macau, Taiwan, and Belize. From being from such diverse cultures I learned to speak many different languages, and I think I am pretty good at them (hahaha :) )</p>
		<p>Ever since I started learning how to code a few months ago, I fell deeply in love with programming and would code 7 to 8 hours a day. I am greatly amazed by how much programming can do to facilitate my daily work. I enjoy challenging myself with algorithms and implementing them into different projects.</p>
		<p>In my spare time, I am a part time photographer and designer. Photography is amazing because it allows people to capture every happy moment in life. To me photography is like a time machine, it allows you to travel to the past, but can also allow you to look into future.</p>
	</div>
</div>
</section>